$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/";

// bower:scss
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@keyframes taptapshipKey {
  from {
    margin-right: 0px;
  }

  to {
    margin-right: -20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h1 {
  margin-bottom: 15px;
}

.package {
  position: absolute;
  top: 8%;
  left: 8%;
  right: 8%;
  bottom: 8%;
}

.letter {
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-name: fadeIn;
}

.logo--home {
  position: absolute;
  right: 0;

  .key {
    float: left;
    transition: margin 200ms;
    -webkit-animation-fill-mode: forwards;

    &:hover {
      font-size: 30px;
    }

    &:first-of-type {
      animation-duration: 500ms;
      animation-delay: 400ms;
      animation-name: taptapshipKey;
    }

    &:nth-of-type(2) {
      animation-duration: 500ms;
      animation-delay: 200ms;
      animation-name: taptapshipKey;
    }

    &:last-of-type {
      animation-duration: 500ms;
      animation-name: taptapshipKey;
    }
  }

  .key--tap:hover {
    margin-left: 5px;
    margin-right: 0;
    &::after {
      color: #aaa;
      content: "tap.";
    }
  }

  .key--ship:hover {
    margin-left: 10px;
    margin-right: -30px;
    &::after {
      color: #3f4770;
      content: "ship.";
      background: none;
    }
  }
}

.key {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #ddd;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  color: #aaa;
}

.key--tap::after {
  content: "☝";
}

.key--ship::after {
  display: block;
  height: 100%;
  width: 100%;
  content: " ";
  background: url(../images/ship.svg) no-repeat top center;
  background-size: 66%;
}
