$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/";

// bower:scss
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@keyframes moveIn {
  from {
    margin-right: 0px;
  }

  to {
    margin-right: -10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 15px;
}

.key {
  transform: rotate(-2deg);

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #ddd;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #aaa;

  @media (min-width:460px) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
  }
}

.key--tap::after {
  content: "☞";
}

.key--ship::after {
  display: block;
  height: 100%;
  width: 100%;
  content: " ";
  background: url(../images/ship.svg) no-repeat top center;
  background-size: 66%;
}

.package {
  position: absolute;
  top: 8%;
  bottom: 8%;
  left: 0;
  right: 0;
  padding: 10px 8%;
}

.letter {
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-name: fadeIn;
  z-index: 30;
}

.slide-out {
  border-radius: 10px 0 0 10px;
  position: fixed;
  z-index: 10;
  transition: left 200ms, transform 250ms ease-in-out;
  padding: 10px;
  top: 8%;
  bottom: 8%;
  left: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  > * {
    display: none;
  }

  h1 {
    // background-color: rgba(0, 0, 0, .05);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .02) 100%);
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    color: #444;
    margin: -11px;
    margin-bottom: 20px;
    border-radius: 10px 0 0 0;
    padding: 10px;
    line-height: 2em;
  }

  &:hover {
    z-index: 100;
    left: 10%;
    width: 90%;
    transform: rotate(0);
    background: linear-gradient(to left, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .10);

    > * {
      display: block;
    }

    &::before {
      display: none;
    }
  }
}

.meet-us {
  z-index: 15;
  top: 8%;
  left: calc(100% - 120px);
  bottom: calc(8% + 30px);
  transform: rotate(-2deg);
  background: linear-gradient(to left, #ddd 0%, #f7f7f7 200%);
  &::before {
    content: "meet.";
  }
}

.our-work {
  z-index: 20;
  top: calc(8% + 30px);
  bottom: 8%;
  left: calc(100% - 60px);
  transform: rotate(-1deg);
  background: linear-gradient(to right, #ccc 0%, #f7f7f7 200%);
  &::before {
    content: "work.";
  }
}

.logo--home {
  .key {
    float: left;
    transition: text-indent 100ms;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;

    &:hover {
      text-indent: 10px;

      &::after {
        transition: background 2s;
      }
    }

    &:first-of-type {
      animation-delay: 800ms;
      animation-duration: 500ms, 250ms;
      animation-name: fadeIn, moveIn;
    }

    &:nth-of-type(2) {
      animation-delay: 400ms;
      animation-duration: 1s, 500ms;
      animation-name: fadeIn, moveIn;
    }

    &:last-of-type {
      animation-duration: 2.2s;
      animation-name: fadeIn;
    }
  }

  .key--ship:hover {
    &::after {
      background-size: 300%;
      background-position: center;
    }
  }
}
