$icon-font-path: "/bower_components/bootstrap-sass/vendor/assets/fonts/";
$primary: #a92a2a;

// bower:scss
@import "../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@keyframes moveIn {
  from {
    margin-right: 0px;
  }

  to {
    margin-right: -10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

body {
  font-size: 1.6em;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin-bottom: 15px;
}

h3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.key {
  transform: rotate(-2deg);

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #ddd;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  color: #aaa;

  @media (min-width:460px) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 50px;
  }
}

.key--tap::after {
  content: "☞";
}

.key--ship::after {
  display: block;
  height: 100%;
  width: 100%;
  content: " ";
  background: url(../images/ship.svg) no-repeat top center;
  background-size: 66%;
}

.package {
  position: absolute;
  top: 8%;
  bottom: 8%;
  left: 0;
  right: 0;
  padding: 10px 8%;
}

.letter {
  position: absolute;
  bottom: 0;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1.5s;
  animation-name: fadeIn;
  z-index: 30;
}

.mask {
  z-index: -1;
  position: fixed;
  transition: opacity 1s;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, 0) 100%);
}

.title {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0%, rgba(0, 0, 0, .02) 100%);
  color: #444;
  padding: 10px;
}

.intro {
  clear: both;
  overflow: hidden;
  margin-bottom: 15px;

  > * {
    float: left;
    margin-top: 5px;
  }

  img {
    margin-left: 10px;
    width: 50px;
    height: 50px;
  }

  figcaption {
    max-width: calc(100% - 60px);
    padding: 0 8px;
  }
}

.primary {
  color: $primary;
}

.slide-out {
  border-radius: 10px 0 0 10px;
  position: fixed;
  z-index: 10;
  transition: left 200ms, transform 250ms ease-in-out;
  padding: 10px;
  top: 8%;
  bottom: 8%;
  left: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  animation-duration: 2s;
  animation-name: fadeIn;

  > * {
    display: none;
  }

  &:hover {
    z-index: 100;
    left: 4%;
    width: 96%;
    transform: rotate(0);
    background: linear-gradient(to left, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .10);

    > * {
      display: block;
    }

    & ~ .slide-out--home {
      left: calc(100% - 80px);
    }

    & ~ .mask {
      opacity: 1;
    }

    &::before {
      display: none;
    }

    &::after {
      color: #444;
    }
  }

  &::after {
    content: "☞☞";
    position: absolute;
    bottom: 8px;
    left: 14px;
  }

  .title {
    border-bottom: 1px solid desaturate($primary, 20%);
    margin: -11px;
    margin-bottom: 10px;
    border-radius: 10px 0 0 0;
    line-height: 2em;
  }
}

.slide-out--meet-us {
  z-index: 15;
  top: calc(8% + 50px);
  left: calc(100% - 120px);
  bottom: 8%;
  transform: rotate(-2deg);
  background: linear-gradient(to bottom, #ddd 0%, #f7f7f7 200%);
  &::before {
    content: "meet.";
  }
}

.slide-out--body {
  padding: 10px;
}

.slide-out--our-work {
  z-index: 20;
  top: 8%;
  bottom: calc(8% + 30px);
  left: calc(100% - 60px);
  transform: rotate(-1deg);
  background: linear-gradient(to bottom, $primary 0%, lighten($primary, 20%) 200%);
  color: #fff;
  &::before {
    content: "work.";
  }
}

.slide-out--home {
  display: none;
}

.touch .slide-out--home {
  display: block;
  transition: left 150ms;
  z-index: 10;
  top: 2%;
  bottom: calc(8% + 30px);
  left: 150%;
  transform: rotate(-1deg);
  background: linear-gradient(to right, #eee 0%, #f7f7f7 200%);
  &::before {
    content: "back.";
  }
  &:hover {
    left: 150%;
  }
}

.logo--home {
  .key {
    float: left;
    transition: text-indent 100ms;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;

    &:hover {
      text-indent: 10px;

      &::after {
        transition: background 2s;
      }
    }

    &:first-of-type {
      animation-delay: 800ms;
      animation-duration: 500ms, 250ms;
      animation-name: fadeIn, moveIn;
    }

    &:nth-of-type(2) {
      animation-delay: 400ms;
      animation-duration: 1s, 500ms;
      animation-name: fadeIn, moveIn;
    }

    &:last-of-type {
      animation-duration: 2.2s;
      animation-name: fadeIn;
    }
  }

  .key--ship:hover {
    &::after {
      background-size: 300%;
      background-position: center;
    }
  }
}
