<article class="letter">
  <h1>
    <span class="dot-glow">tap<span class="dot-glow--accent">.</span>tap</span><span class="dot-glow"><span class="dot-glow dot-glow--accent">.</span><span class="dot-glow primary">ship</span></span>
  </h1>

  <p class="hover-glow">
    <span class="hover-glow hover-glow--accent">taptapship</span> designs websites.
  </p>

  <p class="hover-glow">
    we learn about your business, then <span class="hover-glow hover-glow--accent">tell your customers about it</span>.
  </p>

  <p class="hover-glow">
    we've been making websites since <span class="hover-glow hover-glow--accent">we had to ask permission to use the internet</span>.
    <br><small>(we don't have to ask anymore, we stocked up on phone cards)</small>
  </p>

  <p>
    <a href="mailto:info@taptapship.com">info@taptapship.com</a>
    <br><small><a href="tel:586-745-1003">586.745.1003</a></small>
  </p>
</article>
